/* 
Animation för boxar
*/

.box-pop{
    animation: pop 0.3s ease-out;
}
@keyframes pop{
    0%{transform: scale(0.8);}
    60%{transform: scale(1,1);}
    100%{transform: scale(1);}
}

/* Guldanimation */
.gold-glow {
    animation: goldGlow 1.2s infinite alternate;
}

@keyframes goldGlow {
    from {
        box-shadow: 0 0 5px gold;
        transform: scale(1);
    }

    to {
        box-shadow: 0 0 20px gold;
        transform: scale(1.08);
    }
}

/* Bombskakning */
.bomb-shake {
    animation: shake 0.4s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/*
css för titel och bilderna
*/
.title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.title-icon {
    width: 60px;
    height: auto;
}

.game-title {
    font-size: 3rem;
    font-weight: bold;
    color: gold;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}






/*
grundhtml
*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

